.booking-container {
  padding: 20px;
 
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  padding: 20px;
  font-size: 20px;
}

/* Booking Form */
.booking-form {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 600px;
  margin-right: 20px;
  font-size: 20px;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.form-field input, .form-field select, .form-field textarea {
  width: 90%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  
}

.form-field textarea {
  resize: vertical;
  height: 100px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #006bb3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #005b99;
}

.booking-image img {
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006bb3;
  padding: 10px 20px;
  color: white;
}

.navbar .logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar ul li {
  font-size: 18px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: #005b99;
  border-radius: 5px;
}

